* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-primary: 'Poppins', sans-serif;
  --text-color: #303030;

  --hue: 194;
  --primary-color: hsl(var(--hue), 100%, 63%);
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background-color: #000000;
}

body * {
  font-family: var(--ff-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

#app {
  padding: 2rem;
  max-width: 1120px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  8.7rem 0;
}


.search {
  display: flex;
  align-items: center;

}

.search input{
  height: 4.8rem;
  border: none;
  border-radius: .5rem;
  padding: 1.6rem;
  width: 46.2rem;
  background-color: #06181C;
  font-size: 16px;
  line-height: 100%;
  color: #7C7C8A;
}

.search button {
  background: #065E7C;
  border-radius: .5rem;
  height: 4.8rem;
  border: none;
  padding:  1.2rem 3.2rem;
  cursor: pointer;
  transition: 0.2s;
  margin-left: .8rem;
  display: flex;
  align-items: center;
  gap: .8rem;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.search button svg{
  transition: 0.2s;
}

.search button:hover {
  background-color: #FFFFFF;
  color: #065E7C;
  fill: #065E7C;
  
}
.search button:hover svg path{
  fill: #065E7C;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #4A808C;
  border-radius: 5px;
}


thead tr th{
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #E1E1E6;
}

table td{
  border-collapse: collapse;
  border-top: 1px solid #4A808C;
}

table * {
  font-size: 2rem;
  color: #E1E1E6;
}

table th:first-child {
  border-top-left-radius: .4rem;
}

table th:last-child {
  border-top-right-radius: .4rem;
}

table tr:nth-child(odd) {
  background: rgba(6, 22, 27, 0.5);
}

table tr:nth-child(even){
  background: #06181C;
}

table th {
  background: #092D38;
  text-align: left;
  font-weight: normal;
  padding: 1.5rem;
}

table td {
  padding: 1.5rem;
  text-align: left;
}

td.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td.user a {
  text-decoration: none;

}

td.user a p {
  font-weight: bold;
}

td .remove {
  color: #F75A68;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}


.emptyStar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  height: 400px;
  border: 1px solid #4A808C;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.emptyStar p{
  font-weight: 700;
  font-size: 30px;
  line-height: 25px;
  color: #4E5455;
}

.hide{
  display: none;
} 